* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg,
            #cafc83,
            #a3cb48), #b67b3b;
    background-size: 100% 32%;
    background-repeat: no-repeat;
    font-size: 20px;
}

.wrapper {
    width: 80vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container {
    width: 100%;
    background-color: white;
    box-shadow: 15px 15px 40px rgba(1, 2, 31, 0.05);
    padding: 40px 30px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 3fr 1 fr;
    grid-gap: 20px;
}
input{
    height: 40px;
    outline: none;
    border: none;
    color: grey;
    font-size: 25px;
    border-bottom: 1px solid grey;
}

button{
    background-color: khaki;
    border: none;
    color: white;
    outline: none;
    height: 40px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 25px;
}

p{
    background-color: white;
    box-shadow: 12px 12px 30px rgba(1,9,31,0.05);
    padding: 20px 10px;
    text-align: center;
    margin-top: 30px;
    color: grey;
    border-radius: 5px;
}

p span{
    font-weight: bold;
}